.image{
    padding-top: 20px;
    display: flex;
    width: 330px;
    height: 100px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #FFEDEC;
}
.imagesw{
    display: flex;
    margin: 9px;
    width: 90px;
    height: 302px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFEDEC;
}
.docent-select{
    display: flex;
    padding-top: 43px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.371px;
}

.old{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.background{
    min-width: 390px;
    max-width: 390px;
    min-height: 844px;
    max-height: 844px;
    flex-shrink: 0;
    background: #FFEDEC;
}

.percent{
    padding-top: 60px;
    padding-left: 65px;
    padding-right: 110px;
    color: #350034;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.371px;
}
