.container {
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
.title {
    color: #49296a;
    margin-bottom: 20px;
    position: absolute;
    top: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #49296A;
    margin: 20px 0;
    font-family: 'Abhaya Libre ExtraBold';
  }

.backgroundColor{
    max-width: 46vh;
    height: 100vh;
    background-color:  #f8e9e6;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
 }

.imageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    --docent-width: 25vw;
    --docent-height: 17vh;
 }

 .imageContainer .gogh{
    width: var(--docent-width);
    height: var(--docent-height);
    background-size: cover;
    background-position: center;
    background-image: url('../images/gogh.png');
 }

 .imageContainer .andy{
    width: var(--docent-width);
    height: var(--docent-height);
    background-size: cover;
    background-position: center;
    background-image: url('../images/andy.png');
 }

 .imageContainer .pikaso{
    width: var(--docent-width);
    height: var(--docent-height);
    background-size: cover;
    background-position: center;
    background-image: url('../images/pikaso.png');
 }