.home-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 4.7%;
    left: 5%;
    font-size: 45px;
    color: #000;
    z-index: 1000;
    border:none;
}

.home-button:hover {
    color: #555;
}