.container {
  display: flex;
  flex-flow: row;
  align-content: flex-end;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.content {
  max-width: 46vh;
  height: 100vh;
  background-color:  #f8e9e6;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.title {
  color: #49296a;
  margin-bottom: 20px;
  text-align: center;
  position:absolute;
  top:25%;
  font-size: 6vw;
  font-weight: bold;
  color: #49296A;
  margin: 20px 0;
  font-family: 'Abhaya Libre ExtraBold';
}
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .monaLisa{
    position: absolute;
    /* min-width: 390px; */
    /* max-width :390px; */
    /* width: 500px; */
    /* height: 600px; */
    width: 100%;
    height: 65%;
    display: block;
    position:absolute;
    top:35%;
    opacity: 1;
}
.GuestImage{
  width: '100%';
  height: '100%';
} 

  
