.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/night.png'); /* 배경 이미지 설정 */
    background-size: cover; /* 배경 이미지가 전체를 덮도록 설정 */
    background-position: center; /* 배경 이미지가 중앙에 오도록 설정 */
    background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; /* 다른 절대 위치 요소들을 위한 기준 설정 */
    z-index: 30;
}

.header {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    color: #aaa;
}

.content {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    color: #49296a;
    margin-bottom: 20px;
    position:absolute;
    top: 15px;;
}

.image-container {
    margin-bottom: 20px;
}

.vangogh-image {
    width: 100%;
    border-radius: 15x;
}

.description {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.message-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
}

.message-input {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
}

.send-button, .back-button, .next-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    color: #555;
}

.send-button:hover, .back-button:hover, .next-button:hover {
    color: #000;
}

.home{
    position:absolute;
    top: 15px;           /* 화면 상단에서 15px 아래에 위치 */
    left: 10px;
}
.burger{
    position:absolute;
    right:20%;
    top:5%;
    z-index: 100;
}