.container {
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
  .title {
    color: #49296a;
    margin-bottom: 20px;
    position: absolute;
    top:0%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #49296A;
    margin: 20px 0;
    font-family: 'Abhaya Libre ExtraBold';
  
  }
  .home{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .burger{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .content {
    max-width: 46vh;
    height: 100vh;
    background-color:  #f8e9e6;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
.mainlayout{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.gogh{
    position: static;
    width: 15rem;
    height: 15rem;
    top: 25%;
    background-image: url(../images/gogh.png);
    background-position: center;
    background-size: cover;
}
.FuckingCSS{
    width: 100%;
    height: 100%;
}
.desText{
    position:relative;
    width: 90%;
    height: 60%;
    flex: 1;
    margin: 0.8rem;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 0.7rem;
}
.description {
    width: 100%;
    height: 30%;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 15px;
    z-index: 2;
    font-weight: bold;
    line-height: 1.6;
    color: #333;
    overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 */
    overflow-x: hidden; /* 가로 스크롤은 숨기기 */
    opacity: 0.8;
}


.messagebar {
    display: flex;
    position: relative;
    width: 100%;
    flex:2;
    z-index: 100;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.messageinput {
    flex-grow: 1;
    border: none;
    border-radius: 12px;
    position: relative;
    background: #FFF;
    outline: none;
    font-size: 18px;
    padding: 8px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sendbutton, .backbutton, .nextbutton {
    position: relative;
    background: #FFF;
    z-index: 3;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    cursor: pointer;
    margin: 3px;
    padding: 8px;
    color: #555;
    font-weight: bold;
}

.sendbutton:hover, .backbutton:hover, .nextbutton:hover {
    color: #000;
}